body {
  background-color: #acacac;
  font-family: 'Roboto', Arial, sans-serif;
  color: #181818;
}

.wrapper {
  margin: auto;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 8em auto;
  grid-template-areas:
  "title title"
  "content-left content-right";
}

.circle-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80vh;
  height: 80vh;
  margin-top: -35vh;
  margin-left: -40vh;
  z-index: -1;
}

.page-title {
  font-family: 'VT323', Courier, monospace;
  grid-area: title;
  font-size: 4em;
}

.content-left {
  grid-area: content-left;
  margin: auto;
  width: 90%;
}

.content-right {
  grid-area: content-right;
  margin: auto;
  width: 90%;
}

.text-box {
  background-color: #fff;
  border: 5px solid #181818;
  padding: 1.5em;
}

.placeholder {
  width: 100%;
}

.accessibility-btn {
  border: none;
  font-size: 1em;
  padding: 1.2em;
  background-color: #33cc33;
  border-radius: 2em;
  box-shadow: 2px 2px 1px rgba(10, 40, 10, 0.2);
}
