:root {
  --story-bg-color: rgba(58, 226, 58, 1.0);
  --info-bg-color: rgba(24, 24, 24, 1.0);
  --resources-bg-color: pink;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.narrative {
  background-color: var(--story-bg-color);
}

.slide {
  width: 100vw;
  min-height: 100vh;
}
